/* assets/css/style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Footer'ı her zaman en altta tutmak için */
    background-color: #f8f9fa;
}

main {
    flex: 1;
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
}